* {
  font-family: 'Play', sans-serif;
  font-size: 25px;
}

.model-summary {
  width: 1366px;
  margin: auto;
}

.model-name {
  font-size: 35px;
  font-weight: 700;
}

.button {
  display: inline;
  background-color: rgb(0,61,114);
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-left: 20px; 
  cursor: pointer;
}

.button:hover {
  background-color: rgb(18, 85, 145);
}

.auto-form {
  position: absolute;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  right: 50px;
  color: white;
}

img {
  width: 700px;
  margin-top: 220px;
  margin-left: 90px;
}

.imgHolder {
  width: 1366px;
  height: 755px;
  margin: auto;
  position: relative;
  background-image: url(/autocalc/image/backgroung_image.jpg);
  background-position-y: -50px;
  background-position-x: -350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
}

.colorsSelector {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.colorItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.colorWhitePure {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(207, 207, 207);
}

.colorWhiteOryx {
  background-color: rgb(243, 243, 245);
}

.colorGreyManganese {
  background-color: rgb(74, 74, 74);
}

.colorBlackDeep {
  background-color: rgb(22, 25, 37);
}

.colorYellowCurcuma {
  background-color: rgb(199, 158, 8);
}

.colorGreyUrano {
  background-color: rgb(53, 53, 55);
}

.colorSilverReflex {
  background-color: rgb(199, 200, 202);
}

.colorSilverPyrit {
  background-color: rgb(184, 188, 190);
}


